# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

set mysql_connection_string "server=XXXX;database=XXXXXX;userid=XXXXXX;password=XXXXXXX"

set es_enableCustomData 1 

#-----ONESYNC----#
set onesync_enabled 1
set onesync_forceMigration true
set onesync_workaround763185 true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled true

# Server player slot limit (must be between 1 and 32, unless using OneSync)

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap                
ensure rconlog
ensure connectqueue            #Rocade/File d'attente connexion
ensure pvp                     #Gestion combat entre joueurs
ensure es_mapper               #Outil Mapping/Prendre nom des portes
ensure cron


ensure mysql-async
ensure essentialmode
ensure esplugin_mysql
ensure es_extended
ensure guy293_voice            #Gestion voix in game
ensure TrewHud                 #HUD
ensure bob74_ipl               #Int�rieurs Online
ensure esx_identity
ensure skinchanger
ensure esx_skin
ensure progressBars            #Va avec le job mecano t1ger
ensure instance                #Gestion des int�rieurs pour esx_property



ensure esx_spectate             #Outil pour surveiller joueurs (� pour ouvrir menu/Num7 pour voir inventaire)
ensure es_admin2                # Menu Admin (touche Home)

ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog

######ESX#######
ensure esx_surfyerleri         #surf
ensure inferno-weapons         #securit? arme + mode de tir touche "c"
ensure weapon_switch_anim      #Animation arme -> check config du script
ensure speedometer             #compteur de vitesse

#######GC PHONE#######
ensure esx_addons_gcphone
ensure gcphone
ensure esx_cartesim

########BESOINS########
ensure esx_status 
ensure esx_basicneeds
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_datastore
ensure esx_society
ensure esx_accessories
ensure esx_eden_clotheshop
ensure esx_service
ensure esx_billing
ensure esx_license
ensure jumelles                             # Jumelles + cam�ra h�licopt�re (Appuyez sur E pour activer et click droit pour changer mode de vue, ESPACE pour v�rrouiller sur un v�hicule, 
ensure heli                                 # et X Pour descendre en rappel

ensure esx_steamidentifier                   #Affichage Steam ID et ID in game dans la minimap
ensure streetLabel                           #Affichage du nom des rues
ensure nb_menuperso
ensure esx_inventoryhud                      #Inventaire touche F2
ensure esx_inventoryhud_trunk                #Coffre V�hicule Touche L
ensure enlevervetements
ensure esx_tattoosShops
ensure esx_property
ensure esx_shops
ensure esx_weashops                          #Vente d'armes l�gales dans l'ammunation (sud de la ville) - couteau/poings am�ricains etc
                                             #Vente d'armes ill�gales dans l'ammunation derri�re le commissariat (point � changer dans le config.lua/blackweashop)

#### LoadingScreen####
ensure guidehud                              #Loading Screen + r�glement ingame Touche F10

###Interfaces et Barre d chargement####
ensure NativeUI
ensure interactsound
ensure pNotify
ensure mythic_notify
ensure mythic_progbar
ensure mythic_progressbar
ensure progressBars
ensure t0sic_loadingbar
ensure threatbar

#####JOBS#####                     
ensure esx_jobs
ensure esx_joblisting
ensure esx_vehicleshop                #setjob cardealer (modifier le config.lua si vous voulez �tre patron)
ensure esx_policejob
ensure esx_ambulancejob
ensure esx_realestateagentjob         #setjob realestateagent (garage m�tier dans le parking souterrain)               
ensure t1ger_mechanicjob              #setjob mechanic
#ensure esx_lscustom
ensure esx_unicornjob                 #setjob unicorn (R�colte des produits dans la sup�rette � cot� du Unicorn)
ensure esx_bahama_mamas               #setjob bahama_mamas (R�colte des produits dans la sup�rette � cot� du Unicorn)
ensure esx_taxijob
ensure esx_ammunationjob              #setjob ammunation
ensure esx_brasseurjob                #setjob brasseur
ensure esx_bucheronjob
ensure esx_chasse
ensure esx_fermierjob                  #setjob ferme
ensure esx_fuelerjob                   #setjob fueler
ensure esx_orpailleurjob               #setjob orpailleur
ensure esx_pecheurjob                  #setjob peche
ensure esx_plongee
ensure esx_poolcleaner                 #Pole Emploi laveur de piscine
ensure esx_tabacjob                    #setjob tabac
ensure esx_vigneronjob                 #setjob vigne
ensure esx_foodtruck                   #setjob foodtruck
ensure Rasen                           #Activit� Tondeur d'herbe
ensure esx_fishing                     #Activit� P�che poissons/tortue/requin
ensure esx_pigjob                      #Activit� tuer cochons
ensure esx_sellpig
ensure ams_chicken                     #Activit� tuer poulets 
ensure ams_fried
ensure esx_minerjob

#####CONCESSIONNAIRES PNJ#####
ensure esx_vehicleshop_entreprise       #Concessionnaire entreprise
ensure esx_vehicleshop_luxe             #Concessionnaire de luxe
ensure esx_vehicleshop_nord             #Concessionnaire basique au Nord
ensure esx_vehicleshop_nord_moto        #Concessionnaire moto au Nord
ensure esx_vehicleshop_velo             #Concessionnaire velo
ensure esx_vehicleshop_ville            #Concessionnaire ville du Sud
ensure esx_vehicleshop_ville_moto       #Concessionnaire moto du Sud
ensure esx_vehicleshop_utilitaire       #Concessionnaire utilitaire
ensure esx_vehicleshop_bateau           #Concessionnaire bateau
ensure esx_vehicleshop_avion            #Concessionnaire avion

##############[Gang]##############
ensure esx_bloods                       #setjob2 ID bloods 0 � 3
ensure esx_mafia 
ensure esx_biker
ensure esx_crips
ensure esx_ballas
ensure esx_cartel
ensure esx_vagos
ensure esx_oneil
ensure esx_families

###########[job2]################
ensure esx_statejob                   #setjob state (gouvernement)
ensure esx_marathon 		      #setjob2 runner
ensure esx_truckerjob                 #setjob2 trucker
ensure esx-blarglebus                 #setjob2 busdriver
ensure esx_waterjob                   #setjob2 water
ensure esx_joblistingsecondary        #pole emploi secondaire
ensure esx_garbage                    #setjob2 eboueur
ensure esx_cityworks                  #setjob2 works

####MOD VOITURES###
ensure enc0ded-persistent-vehicles     #Anti v�hicules despawn (uniquement v�hicules joueurs sortis du garage)
ensure esx_jb_eden_garage2             #Garages/parkings publics
ensure esx_vehiclelock            #Gestion des cl�s v�hicules
ensure hideintrunk                #Se cacher dans le coffre
ensure esx_lockpick               #Anticarjack + lockpick pour voler voitures PNJ
ensure esx_dmvschool              #Auto Ecole
ensure lux_vehcontrol             #gyro et sir�nes
ensure lv_headlights              #Changer couleurs des phares
ensure RealisticVehicleFailure    #Gestion d�gats v�hicules
ensure ProtectPnj                 #Changer de siege : /siege /passager /ard /arg - R�duction des d�gats - Suppression PNJ Police/EMS/Gangs - Suppression R�ticule
ensure esx_givevehicles           #Donner son v�hicule avec F5
ensure kr_pushvehicle             #Pousser voiture en panne shift+E
ensure LegacyFuel                 #Station Essence
ensure flashingheadlights         #Phares clignotent quand sir�nes allum�es
ensure Drift                      #Mode Drift (Appuyer sur G pour activer/d�sactiver)

ensure gd_airport_ai_begone       #Delete avions et explosion A�roports
ensure Radargun                   #Pistolet Vintage devient Pistolet Radar pour police. appuyer sur Y pour d�marrer et E pour enregistrer vitesse

ensure esx-carRental              #Location de v�hicule
ensure mal                        #D�marche bless�
ensure esx_wheelchair             #Fauteuil roulant EMS
ensure 3dme                       #/me au dessus de la t�te
ensure CarryPeople                #Porter les gens (dans le F5/animations)
ensure ChairBedSystem             #Lits Hopital
ensure donut                      #Super Tacos et Monster Energy/ Fait courir plus vite ^^
ensure hotdog
ensure dpemotes                   #Menu animations F3
ensure eup-stream                 #Vetement Police/EMS Divers (ONESYNC OBLIGATOIRE)
ensure eup-ui                     #Vetement Police/EMS Divers (ONESYNC OBLIGATOIRE)
ensure fireworks                  #Feux d'artifices
ensure new_banking                #Script compte bancaire
ensure jsfour-idcard              #Script Permis/carte d'identit�
ensure scriptpnj                  #Gestion spawn PNJ
ensure PiggyBack                  #Porter sur le dos (dans le F5/animations)
ensure TakeHostage                #Prendre en otage (dans le F5/animations)
ensure esx_helmet                 #Magasin de Casques et Chapeaux
ensure esx_mask                   #Magasin de Masques
ensure esx_jewelery               #Magasin Montres et Bracelets
ensure sawu_hookers               #Prostitu�e (le mac est en face du unicorn)
ensure esx_strippers              #Danseuses Unicorn
ensure esx_ktackle                #Plaquage
ensure vSync                      #Gestion du temps et m�t�o (mettre son steamID dans server.lua)
ensure RideADeer

####ILLEGAL#####
ensure esx_drugs                  #7 drogues + Faux billets + alcool de contrebande
ensure esx_holdup                 #Braquage sup�rettes
#ensure esx_holdupbank             #Braquage Banques
ensure esx_moneywash 
ensure esx_vangelico_robbery
ensure esx_narshop                #Achat d'objets ill�gaux, changer coordonn�es dans le config.lua
ensure esx_rope                   #Corde pour escorter apr�s avoir utilis� les Zipties (utilisable par les gangs, dispo dans les objets ill�gaux du Narshop)
ensure esx_handcuffs              #Zipties pour menotter (utilisable par les gangs, dispo dans les objets ill�gaux du Narshop)
ensure oblivionpill               #Pilule de l'oublie (utilisable par les gangs, dispo dans les objets ill�gaux du Narshop)
ensure esx_cagoule                #Cagoule pour rendre le joueur aveugle (utilisable par les gangs, dispo dans les objets ill�gaux du Narshop)
ensure esx_ownedcarthief          #Vol et revente des voitures joueurs (Revente au port, achat dans les pawns shops), alarmes chez les m�canos, besoin de unlockingtools ou hammercutterwire pour voler le v�hicule, jammer pour d�sactiver l'alarme niveau 2 et 3
                                  #Police a besoin de alarminterface pour d�sactiver les alarmes (dispo chez les m�canos)
ensure utk_ornateheist            #Braquage Banque Principale
ensure utk_ornateprops
ensure MF_LockPicking
ensure MF_Fleeca                  #Braquage petites banques Fleeca
ensure MF_DrugSales
ensure esx_icar                   # Concessionnaire ill�gal (vend le journey2 pour la meth)
ensure esx_communityservice         #TIG
ensure esx_doorlock
ensure esx_outlawalert
ensure esx_qallejail
ensure esx_ruskiarrest
ensure esx_sit
ensure esx_med
ensure esx_policemdt              #Tablette LSPD (appuyez sur = pour ouvrir la tablette a cot� d'un v�hicule ou devant le bureau � cot� des cellules)
ensure esx_extraitems

#####MAPPING#####
ensure limits
ensure allcity_medical
ensure mapbuilder
ensure customprops
ensure simpletp
ensure maps
ensure bennysmap
ensure missionrowgates
ensure SLBK11_MissionRow
ensure nobarrier
ensure banner_anim
ensure bmamas
ensure ymap
ensure pawn
ensure chopshop          
ensure GroveStreet
ensure verpi_jobcentre
ensure FiveM-Trains         #metro 
ensure ToTT-Minimap         #blips custom
ensure autoluxe             #mapping concessionnaire luxe

#####VEHICULES#####
ensure esx_jb_trailer
ensure Trailers  
ensure ems
ensure LSPDpack
ensure Carpack
ensure Carpack2
ensure Carpack3
ensure Carpack4
ensure Carpack5
ensure ammunationVehicles
ensure DoubleT_Skylift
ensure flatbed3
ensure wash             #/wash pour laver le v�hicule
ensure surfboard

####LAISSER A LA FIN########
ensure ft_libs
ensure vehicleloader

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like 
# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
#sets tags "esx, roleplay"
# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "fr-CA" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail ""
sets banner_connecting ""

# Set your server's hostname

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo_HHRp.png

# convars which can be used in scripts
set temp_convar "hey world!"


# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

add_principal identifier.steam: group.admin # add the admin to the group Admin

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key

# License key for your server (https://keymaster.fivem.net)
##DOSSIER RESTARTERONS
restart sessionmanager
#restart pnjdroguesmr


sv_hostname "XXXXXXXXXX"
rcon_password ""
sv_maxclients 32
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set sv_listingIPOverride "0.0.0.0:30120"
sv_licenseKey XXXXXXXXXXX
set steam_webApiKey XXXXXXXXX